body{
    background-color: rgb(208, 54, 82);
}

.welcome-text{
font-family: 'Roboto';
text-align: center;
font-size: 24px;
}

.intro-button{
    color:black;
    padding: 20px;
    border: 2px solid black;
}