body{
    background-color: rgb(100, 193, 255);
}

.welcome-text{
font-family: 'Lobster', cursive;
text-align: center;
font-size: 64px;
}

.intro-button{
    color:black;
    padding: 20px;
    border: 2px solid black;
}